main {
  width: calc(100% - var(--sidebarwidth));
  margin-left: var(--sidebarwidth);
  margin-top: var(--topbarheight);
  min-height: calc(100vh - var(--topbarheight));
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}
